#flex-wrapper {
  align-items: stretch;
  flex-wrap: wrap;
  display: flex;
}

#tall-box {
  border: 2px solid var(--dark);
  border-bottom: 6px solid var(--dark);
  border-right:  6px solid var(--dark);
  color: var(--dark);
  margin: auto;
  padding-top: 10px;
  width: 45%;
  min-width: 270px;
}

#tall-box h3 {
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#tall-box p {
  font-family: Cambria, Georgia, serif;
  margin-left: 20px;
  margin-right: 10px;
  text-align: justify;
}

#fiddle-image {
  width: 90%;
}

.divider {
  color: var(--dark);
  border-bottom: 4px solid var(--dark);
  border-left: none;
  border-right: none;
  border-top: 2px solid var(--dark);
  height: 2px;
  width: 90%;
}

#box-stack {
  margin: auto;
  width: 45%;
}

#box-stack div {
  border: 2px solid var(--dark);
  border-bottom: 6px solid var(--dark);
  border-right:  6px solid var(--dark);
  height: 45%;
  text-align: center;
}

#box-stack div:first-child {
  margin-bottom: 30%;
  border: 2px solid var(--dark);
}

#box-stack div:first-child p {
  padding-left: 10%;
  padding-right: 10%;
}

.banner-image {
  display: block;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 30px;
  width: 90%;
}

