#header {
  color:       #3a2406;
  margin:      auto;
  padding-top: 30px;
  width:       95%;
}

#header img {
  width: 100%;
}

#date-bar {
  border-bottom: 3px solid #3a2406;
  border-top:    2px solid #3a2406;
  font-family:   "Cambria", "Georgia", serif;
  height:        30px;
  line-height:   30px;
  margin-bottom: 40px;
  text-align:    center;
  width:         100%;
}

#date-bar h4 {
  color:  #3a2406;
  height: 30px;
  margin: 0;
}
